<div class="comments">
    {{#each this}}
    <!-- Comment Section for Each Comment -->
    <section class="comment">

        <!-- Meta Information Div -->
        <div class="meta">
            {{user.username}} on {{format_date created_at}}
        </div>

        <!-- Comment Text Div -->
        <div class="content">
            {{comment_content}}
        </div>

    </section>
    {{/each}}
</div>