<article class="post">
    <!-- Post Header Section -->
    <div class="post-head">
        <!-- Post Title Div -->
        <div class="title">
            <!-- Post Edit Link -->
            <a href="/dashboard/edit/{{post_id}}">{{post_title}}</a>
            <p>{{post_content}}</p>
        </div>
    </div>
</article>