<article class="post">
    <!-- Post Header Section -->
    <div class="post-head">
        <!-- Post Title Div -->
        <div class="title">
            <!-- Post Edit Link -->
            <a href="/dashboard/edit/{{id}}">{{title}}</a>
        </div>
    </div>
</article>