<!-- Login Form -->
<form class="login-form">
    <h2> Sign In </h2>
    <div>
        <label for="username-login"> Username: </label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login"> Password: </label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit"> Sign In </button>
    </div>
</form>

<!-- Signup Form -->
<form class="signup-form">
    <h2> Sign Up </h2>
    <div>
        <label for="username-signup"> Username: </label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup"> Password: </label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit"> Sign Up </button>
    </div>
</form>

<!-- JavaScript File Inclusion -->
<script src="/js/signinUser.js"></script>