/* Reset and Global Styles */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

* {
    box-sizing: border-box;
}

/* Typography */
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: gray;
}

header a:hover {
    color: lightgrey;
}

/* Layout */
.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    background-color: lightslategray;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    font-size: 1.5rem;

    h1 {
        font-size: 1em;
    }
}

main {
    flex: 1;
    padding: 2% 4%;
    background-color: gainsboro;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}

/* Buttons */
button,
.btn-no-style {
    cursor: pointer;
    border-radius: 5px;
}

button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
}

button:hover {
    background-color: lightsteelblue;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
}

.btn-no-style:hover {
    color: #3486eb;
}

.delete-post-btn {
    background-color: #d41414;
}

.delete-post-btn:hover {
    background-color: #ff643d;
}

.upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
}

.upvote-btn:hover {
    background-color: #1f9c13;
}

/* Form Styles */
form {
    div {
        margin-bottom: 2%;
    }

    label {
        display: block;
    }
}

textarea,
input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #3486eb;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

.new-post-form input {
    width: 300px;
}

/* Post Styles */
.post {
    background-color: lightskyblue;
    margin-bottom: 2%;
    line-height: 150%;
    border-width: 1px;
    border-style: solid;
    border-color: black;

    .post-head {
        padding: 2px;
    }

    .title {
        font-size: 150%;
        margin: 2px;
    }

    .meta {
        font-style: italic;
        font-size: 80%;
        margin: 2px;
    }

    .post-text {
        background-color: whitesmoke;
        padding: 3px;
    }

    .edit-link {
        display: block;
        margin: -1.5% 0 2% 0;
    }

    .comment-form {
        margin-bottom: 5%;
    }

    .comment {
        padding: 1%;
        margin-bottom: 1%;

        &:nth-child(odd) {
            background-color: #fff5eb;
        }

        .meta {
            font-size: 90%;
            margin-bottom: .5%;
            opacity: .6;
        }
    }
}